{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"node": "current"
				}
			}
		]
	],
	"plugins": [
		"@babel/plugin-proposal-optional-chaining",
		[
			"module-resolver",
			{
				"alias": {
					"@config": "./configurations.js",
					"@app": "./src/app.js",
					"@common": "./src/common",
					"@services": "./src/services/index.js",
					"@routerCallback": "./src/helpers/router-callback.js",
					"@ledger": "./src/modules/ledger",
					"@utils": "./src/utils",
					"@helpers": "./src/helpers",
				}
			}
		]
	]
}
